<img src=<%= get('imageUrl') || "/assets/images/yourface.png" %> width="200" height="200" alt="<%= get('firstName') %>"
data-attributes='imageUrl' class="imageUrl bio-image shadowed uploadable" />
<input type="file" name="imageFile" class="file-input user[image] hidden-edit">Gimme</input>

<div class="bio-text">
  <h1>
    <span data-attributes='firstName' class="firstName editable"><%= get('firstName') || "First Name"%></span>
    <span data-attributes='lastName' class="lastName editable"><%= get('lastName') || "Surname" %></span>
  </h1>

 <!--  <button id="btn--follow">Follow</button>
 -->
  <div class="wdg--follow"></div>
  <h2 data-attributes='bio' class="bio editable">
    <%= get('bio') || "Biography" %>
  </h2>
  <input data-attributes='bio' class='bio edit-me hidden-edit' value=''>

  <h3 data-attributes='mission' class="mission editable">
    <%= get('mission') || "Mission" %>
  </h3>
</div>
