<div class="sortable">
</div>

<div class="info">
  <img src="<%= project.get('imageUrl') || 'images/ablank.jpg' %>" width="350" height="165"
  alt="My Amazing Project" data-attributes='imageUrl' class="project-image shadowed editable" />

  <div class="project-details">
    <h3 data-attributes="title" class="title editable">
      <%= project.get('title') || "Your title" %>
    </h3>

    <a data-attributes="projectUrl" class="projectUrl editable" href="<%= project.get('projectUrl') %>">
      <%= project.get('projectUrl') || "Just\/some\/stuff" %>
    </a>

    <div class="skills">
      <span class="skill-label">
        Skills:
      </span>

      <ul class="skill-list">
        <li class="skill">
          <span class="skill-name">Ruby</span>
          <span class="delete">Remove</span>
        </li>
        <li class="skill">
          <span class="skill-name">Rails</span>
          <span class="delete">Remove</span>
        </li>
        <li class="skill">
          <span class="skill-name">AJAX</span>
          <span class="delete">Remove</span>
        </li>
        <li class="skill">
          <span class="skill-name">HTML 5</span>
          <span class="delete">Remove</span>
        </li>
        <li class="skill">
          <span class="skill-name">CSS</span>
          <span class="delete">Remove</span>
        </li>
        <li class="skill">
          <span class="skill-name">Javascript</span>
          <span class="delete">Remove</span>
        </li>
      </ul>

      <span class="add-skill">Add Skill</span>
    </div>

   <div data-attributes="body" class="body editable">
      <%= project.get('body') || "I need your body" %>
    </div>
  </div>
</div>

<div class="remove-project">
  Remove Project
</div>
